@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
	--background-color: #dbdad4;
	--text-color: #323232;
	--link-color: #d55b71;
	--link-color-hover: #536bb4;
	--dark-background-color: #202020;
	--dark-text-color: #dbdad4;
	--dark-link-color: #ffacba;
	
	
	background-color:var(--background-color);
	color:var(--text-color);
	
	font-family:"JetBrains Mono", monospace;
	font-size:1.5em;
}

p {
	margin-top:0px;
}

ul {
	margin-top:0px;
}

li {
	list-style-type:none;
	text-indent:-1em;
}

li:before {
	content: "- "
}

a {
	color:var(--link-color);	
}

a:hover {
	color:var(--link-color-hover);
}

#title {
	color:var(--link-color);
}

#container {
	width:100%;
	height:100%;
	
	display:flex;
	justify-content:center;
	align-items:center;
}

#content {
	display:flex;
	max-width:1000px;
	flex-direction:column;
}

#quote {
	border-top: 1px solid var(--link-color);
	border-bottom: 1px solid var(--link-color);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.team-logo {
	position: fixed; 
	top: 20px;
	left: 10px;
}

.team-logo img {
	max-width: 200px;
}

@media only screen and (max-width: 1400px) {
	.team-logo {
		position: relative;
	}
}

@media screen and (orientation: portrait) {
	#container {
		display:block;
	}
	#content {
		width:90%;
		font-size:4vw;
		margin:10px auto;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color:var(--dark-background-color);
		color:var(--dark-text-color);
	}
	
	a {
		color:var(--dark-link-color);	
	}
	#title {
		color:var(--dark-link-color);
	}
	
}
